img {
	width: 30%;
	float: left;
	/*filter: grayscale(70%);*/
	margin: 1.666%;
}

h1 {
	font-family: "Nova Mono";
	margin: 1.66%;
	border-bottom: 3px solid gray;
	width: 30%;
	text-transform: uppercase;
	padding-left: 10px
	padding-right: 10px

}